/*-------------------------------------------------
	* Description: 	 General styles
	* Created by: 	 webtheory.net
---------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700,400italic&subset=latin,cyrillic);
body{margin:0;padding:0;background-color:#ececec;font-family:Cuprum;color:fa6724}

h1, h2, h3, h4, h5 { line-height: 1.4em }
h1{font-size:18px} 
h2{font-size:16px} 
h3{font-size:14px} 
h4{font-size:12px} 
h5{font-size:10px}

ul{list-style:none;margin:0;padding:0;}
img{border: none;}
a{color:#fa6724;text-decoration:underline;}
a:hover{color:#fa6724;text-decoration:none;}
.lcol{float:left;}
.rcol{float:right;}
.clr{clear:both;}
.error{background:url(../images/error.png) no-repeat;height:52px;padding-left:63px;padding-top:8px;}
span.errorText{color:#fff;text-shadow:1px 1px 0px #e69600;font-size:14px;}
span.errorText a{color:#fff;text-shadow:1px 1px 0px #e69600;font-size:14px;text-decoration:underline;}
span.errorText a:hover{text-decoration:none;}


img.ruble-img { height: 1.5ex; }
span.dot { position:absolute; text-indent: -1000em; }

/* Head */
.headw{margin:0 auto;width:1004px;height:320px;}
.head{width:1004px;height:320px;background:url(../images/header.jpg) no-repeat;padding-top:12px;}
.logotype {width:200px;height:84px;background:url(../images/logotype.png) no-repeat;margin-left:64px;}
.login{float:right;margin-right:64px;margin-top:-44px;font-size:14px;}
.wrapper-navi{margin:0 auto;width:900px;}
.navigation{background:url(../images/navigation.png) no-repeat;);height:41px;}
.vmenu{font:14px Cuprum;}
.vmenu a:link,
.vmenu a:visited{height-line:41px;text-align:left;float:left;background:url(../images/vmenu.png) right no-repeat;height:29px;padding:0 15px;padding-right:19px;padding-top:12px;text-decoration:none;color:#fff;}
.vmenu a:hover{height-line:41px;text-align:left;float:left;background:url(../images/vmenu.png) right no-repeat;height:29px;padding:0 15px;padding-right:19px;padding-top:12px;text-decoration:none;color:#fff;text-shadow:0px 0px 5px rgba(255, 248, 220, 0.5)}
.wrapper{margin:0 auto;width:964px;overflow:hidden;}
.middle{margin-top:20px;background:url(../images/middleh.png) no-repeat, url(../images/middlec.png) repeat-y;overflow:hidden;padding-top:}
.middlec{margin-left:32px;background:url(../images/contenth.png) no-repeat, url(../images/contentc.png) repeat-y;width:900px;overflow:hidden;}

/* Left */
.left{float:left;width:250px;margin-top:28px;}

/* Block */
.box {width:250px;}
.boxTitle {background:url(../images/boxtitle.png);height:27px;color:#2d2d2d;font:18px;padding-left:30px;}
.boxContent {background:url(../images/boxcontent.png) no-repeat;padding-left:35px;padding-top:11px;}
.boxMenu{width:216px;margin-bottom:41px;}
.boxMenu li a{height:14px;width:201px;text-decoration:none;font-size:14px;margin-bottom:10px;}	
.boxMenu li a:link, .boxMenu li a:visited{display:block;background:url(../images/boxmenu.png);padding-left:15px;text-decoration:underline;}
.boxMenu li a:hover{background:url(../images/boxmenu.png);text-decoration:none;color:#999790;}
.boxPopular{width:216px;margin-bottom:41px;}
.boxPopular li a{height:14px;width:201px;text-decoration:none;font-size:14px;margin-bottom:10px;}	
.boxPopular li a:link, .boxPopular li a:visited{display:block;background:url(../images/boxpopular.png);padding-left:15px;text-decoration:underline;}
.boxPopular li a:hover{background:url(../images/boxpopular.png);text-decoration:none;color:#999790;}

/* Right */
.right{float:left;width:618px;margin-top:28px;margin-left:32px;}

/* News */
.news{width:618;border-bottom:1px solid #e3e3e3;padding-left:5px;padding-right:5px;padding-bottom:20px;margin-bottom:20px;}
.news1{width:558px;margin-left:30px;}
.img{background:url(../images/stthumb.png);height:174x;width:127px;padding:4px;}
.newsTitle{height:30px;line-height:30px;width:100%;margin-left:18px;margin-bottom:5px;display:block;border-bottom: 1px dashed #eaeaea;}
.newsContent{margin-top:20px;font-size:14px;color:#757575;float:right;width:404px;}
.sthrate{border-radius:4px;height:30px;width:30px;line-height:30px;text-align:center;color:white;background:#f29222;}
.shmore b{float:left;}
.stimg {padding-left:132px;}
.stimg .stthumb{}
.stthumb b, .thumbimg{display:block;padding:5px;border:1px solid #d6d6d6;background:#fff;border-radius:6px;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1)}
.stthumb a b{cursor:pointer}
.stthumb img, .thumbimg img{display:block;width:125px;height:172px;}

/* About game */
.small{color:#6C6C6C;font-size:12px;}
.about{float:right;width:421px;}
.about-game{margin-left:18px;}
.about-game li{padding:3px 0;border-bottom:1px dotted #C7C7C7;color:#464646;}
.about-game li span{color:#757575;}
.about-game span{width:150px;}
.about-game b{width:249px;float:right;}

/* Download */
.dovwload{width:618px;}
.downloadTitle{padding-left:10px;margin-top:20px;margin-left:-30px;margin-right:-30px;height:38px;line-height:38px;font-size:14px;font-style:italic;background-color:#e6e2e2;color:#000;}
.downloadInfo{padding:10px 0 13px 13px;margin-bottom:15px;color:#000;font-size:14px;font-style:italic;margin-left:-30px;margin-right:-30px;}
a.downloadButton{float:left;background:url(../images/downloadbutton.png) 0 -41px no-repeat;height:40px;width:167px;display:block;}
a.downloadButton:hover{float:left;background:url(../images/downloadbutton.png) 0 0 no-repeat;height:40px;width:167px;display:block;}
.LPCPS{float:left;height:37px;width:1px;margin-left:13px;background:url(../images/lpcps.png) no-repeat;}
.downloadLPCPS, .LPCPS1{height:60px;color:#000;font-size:14px;font-style:italic;float:left;display:block;padding-left:13px;padding-top:3px;}

/* Comment */
.comment{width:618px;margin-top:-21px;padding-bottom:20px;}
.commentTitle{background:url(../images/commenttitle.png) no-repeat;height:31px;line-height:30px;padding-left:38px;font:14px;color:#ffaa00;display:block;text-transform:uppercase; float: left; width: 100%;}
.commentContent{width:558px;overflow:hidden;padding-left:30px;margin-top:10px;}
.commentimg {padding-left:132px;}
.commentimg .commentAvatar{}
.commentAvatar b, .commentThumbimg{display:block;padding:5px;border:1px solid #d6d6d6;background:#fff;border-radius:5px;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1)}
.commentAvatar a b{cursor:pointer}
.commentAvatar img, .commentThumbimg img{display:block;width:50px;height:50px;border-radius:2px;}
.commentT {margin-left:8px;}
.commentT .commentText{}
.commentText, .commentThumbtext{margin-left:8px;padding:10px;display:block;border:1px solid #d6d6d6;background:#fff;border-radius:5px;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);width:466;overflow:hidden;}
.commentAuthor{color:#333333;display:block;border-bottom:1px solid #d6d6d6;height:25px;}
.commentAuthor a{font-size:14px;color:#333333;text-decoration:none;}
.commentAuthor a:hover{color:#f29222;}
.commentPM{color:#6f6f6f;font-size:12px;padding-top:5px;}
.addcomment{width:618px;border-bottom:1px solid #e3e3e3;padding-bottom:20px;}
.addcommentTitle{background:url(../images/commenttitle.png) no-repeat;height:31px;line-height:30px;padding-left:38px;font:14px;color:#ffaa00;display:block;text-transform:uppercase;}

/* Footer */
.footer{background:url(../images/footer.png) no-repeat;height:110px;width:900px;position:relative;margin:0 auto;margin-bottom:20px;}
.footerText{padding-left:60px;padding-top:50px;color:#5f5f5f;font-size:14px;}
.footerLink{font-size:13px;}
.copyright{float:right;margin-top:-40px;color:#5f5f5f;font-size:14px;}
.copyright a{color:#292929;text-decoration:none;}
.copyright a:hover{color:#f29222;}
