<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>

<script type="text/javascript" src="{base_url}themes/system/dygraphs/dygraph-combined.js"></script>
<script type="text/javascript" src="{base_url}themes/system/js/date.format.js"></script>

<script type="text/javascript">
	var page = {
		'site_url' : '{site_url}',
		'base_url' : '{base_url}',
		'template_files': '{base_url}themes/{template}/{style}/',
		'system_template': '{base_url}themes/system/',
		'csrf_token_name' : '{csrf_token_name}',
		'csrf_hash' : '{csrf_hash}',
		'ds_id' : '{ds_id}'
	};
</script>

<script>
    var ramblockset = false;
    var ramload;

    var cpublockset = false;
    var cpuload;
    
    var netblockset = {};
    var netload = {};

    var diskblockset = [];
    var diskload = [];

    function skipLabels(value, index, chart) {
        // console.log(chart.length);
        
        if (chart.length > 10)
            return index % Math.round(chart.length/10)  === 0 ? value : null;
        else
            return value;
    }

    function netprefix(value, index, chart) {
        if (value > 1048576) {
            return Math.round((value/1048576)) + 'G';
        } else if (value > 1024) {
            return Math.round((value/1024)) + 'M';
        } else {
            return value + 'K';
        }
    }

    var datestart = '';
    var dateend = '';
    var update_blocked = false;

    function update_stats() {

        if (update_blocked == true) {
            return;
        }

        update_blocked = true;

        ajax_data = {'datestart': datestart, 'dateend': dateend};
        ajax_data[page.csrf_token_name] = page.csrf_hash;
    
        $.ajax({
            url:     sprintf("%sajax/ds_stats/get_stats/%s", page.site_url, page.ds_id),
            type:     "POST",
            data: 	ajax_data,
            dataType: "json",
            success: function(response) {
                if (response.status == 0) {
                    noty({layout: 'bottomCenter', type: 'error', text: response.error_text});
                    return;
                }
                
                if (response.data.length == 0) {
                    return;
                }

                $('#last-time').html(response.data.time[response.data.time.length-1]);
                $('#loa').html(response.data.loa[response.data.loa.length-1]);

                var graph_data = [];
                
                response.data.timestamp.forEach(function(item, i, arr) {
                    graph_data.push([new Date(item * 1000), response.data.ram[i]*1024*1024, response.data.ramav[i]*1024*1024]);
                });

                if (!ramblockset) {
                    $('.ram-block').append('<div id="ramload" style="height:250px; width: 100%"></div>');

                    ramload = new Dygraph(
                        document.getElementById("ramload"),
                        graph_data,
                        {
                            valueRange: [0, response.data.ram_total*1024*1024],
                            labels: ['Date', 'RAM (With cache)', 'Ram usage'],
                            fillGraph: true,
                            axes: {
                                y: {
                                  labelsKMG2: true,
                                }
                            }
                        }
                        
                    );
                    ramblockset = true;
                } else {
                    ramload.updateOptions( { 'file': graph_data } );
                }

                if (response.data.cpu !== undefined) {
                    graph_data = [];
                    response.data.timestamp.forEach(function(item, i, arr) {
                        var sg_data = [];
                        sg_data.push(new Date(item * 1000));

                        $.each(response.data.cpu, function(k, val) {
                            sg_data.push(val[i]);
                        });
                        
                        graph_data.push(sg_data);
                    });
                    
                    if (!cpublockset) {
                        $('.cpuload-block').append('<div id="cpuload" style="height:250px; width: 100%"></div>');

                        var cpu_glabels = ['Date'];
                        $.each(response.data.cpu, function(k, val) {
                            cpu_glabels.push('CPU #' + k);
                        });

                        cpuload = new Dygraph(
                            document.getElementById("cpuload"),
                            graph_data,
                            {
                                valueRange: [0, 100],
                                labels: cpu_glabels,
                                highlightSeriesOpts: {
                                  strokeWidth: 1,
                                  strokeBorderWidth: 1,
                                  highlightCircleSize: 5
                                }
                            }
                            
                        );
                        cpublockset = true;
                    } else {
                        cpuload.updateOptions( { 'file': graph_data } ); 
                    }
                }

                if (response.data.if_stat !== undefined) {
                    $.each(response.data.if_stat, function(k, val) {
                        graph_data = [];
                        response.data.timestamp.forEach(function(item, i, arr) {
                            graph_data.push([new Date(item * 1000), val.rxb[i]*1000, val.txb[i]*1000]);
                        });

                        if (!netblockset[k]) {
                            $('.netload-block').append(
                                '<h3>' + k + '</h3>\
                                <div id="netload_' + k + '" style="height:250px; width: 100%"></div>'
                            );

                            id = '#netload_' + k;

                            netload[k] = new Dygraph(
                                document.getElementById('netload_' + k),
                                graph_data,
                                {
                                    labels: ['Date', 'Incoming', 'Outgoing'],
                                    'Incoming': {fillGraph: true},
                                    axes: {
                                        y: {
                                          labelsKMG2: true,
                                        }
                                    }
                                }
                            );
                            
                            netblockset[k] = true;
                        } else {
                            netload[k].updateOptions( { 'file': graph_data } );
                        }
                    });
                }

                if (response.data.drvspace !== undefined) {
                    di = 0;
                    $.each(response.data.drvspace, function(k, val) {
                        graph_data = [];
                        response.data.timestamp.forEach(function(item, i, arr) {
                            graph_data.push([new Date(item * 1000), val[i]*1000*1000]);
                        });
                        
                        if (!diskblockset[di]) {
                            $('.disk-block').append(
                                '<h3>' + k + '</h3>\
                                <div id="diskload_' + di + '" style="height:250px; width: 100%"></div>'
                            );

                            id = '#diskload_' + di;

                            diskload[di] = new Dygraph(
                                document.getElementById('diskload_' + di),
                                graph_data,
                                {
                                    valueRange: [0, response.data.drvspace_total[k]*1000*1000],
                                    labels: ['Date', 'Usage'],
                                    fillGraph: true,
                                    axes: {
                                        y: {
                                          labelsKMG2: true,
                                        }
                                    }
                                }
                            );

                            diskblockset[di] = true;
                        } else {
                            diskload[di].updateOptions( { 'file': graph_data } );
                        }

                        di++;
                    });
                }
                
            },
            error: function() {
                noty({layout: 'bottomCenter', type: 'error', text: "unknown error"});
                last = false;
            },
            complete: function() {
                update_blocked = false;
                // HideLoad();
            }
        });
    }

    update_stats();
    setInterval(update_stats, 10000);
</script>

<a class="button" href="{site_url}ds_stats">< {lang_back}</a>
<a class="button" onclick="anichange('#filter'); return false" href="#">{lang_filter}</a>
<script>
function anichange (objName) {
  if ( $(objName).css('display') == 'none' ) {
    $(objName).animate({height: 'show'}, 400);
  } else {
    $(objName).animate({height: 'hide'}, 200);
  }
}
</script>

<div id="filter" style="display: none">
    <a id="stats-hour" class="small orange button" href="#">За час</a>
    <a id="stats-today" class="small orange button" href="#">За сегодня</a>
    <a id="stats-yesterday" class="small orange button" href="#">За вчера</a>
    <a id="stats-week" class="small orange button" href="#">За неделю</a>
    <table>
        <tr>
            <td>Период:</td>
            <td>
                <input type="text" id="datetimepicker1" name="period_datestart" value="{default_datestart}"/>&nbsp;-&nbsp;
                <input type="text" id="datetimepicker2" name="period_dateend" value="{default_dateend}"/>
                <button id="change-period" class="button">{lang_apply}</button>
            </td>
        </tr>
    </table>
</div>

<script>
	$('#datetimepicker1, #datetimepicker2').datetimepicker({
	  format:'d-m-Y H:i',
	  lang:'{language}',
	});

    function update_period(dstart, dend)
    {
        $("input[name='period_datestart']").val(dstart);

        if (dend) {
            $("input[name='period_dateend']").val(dend);
            dateend = dend;
        } else {
            dateend = '';
        }

        datestart = dstart;

        update_stats();
        anichange('#filter');
    }

    $('#stats-hour').click(function() {
        var dstart = new Date((Date.now()-3600*1000));
        update_period(dstart.format("dd-mm-yyyy HH:MM"));
    });

    $('#stats-today').click(function() {
        var curdate = new Date((Date.now()));
        update_period(curdate.format("dd-mm-yyyy 00:00"));
    });

    $('#stats-yesterday').click(function() {
        var dstart = new Date((Date.now()-2*86400*1000));
        var dend = new Date(Date.now()-86400*1000);

        update_period(dstart.format("dd-mm-yyyy 00:00"), dend.format("dd-mm-yyyy 00:00"));
    });

    $('#stats-week').click(function() {
        var dstart = new Date((Date.now()-604800*1000));
        update_period(dstart.format("dd-mm-yyyy HH:MM"));
    });

    $('#change-period').click(function() {
        datestart = $("input[name='period_datestart']").val();
        dateend = $("input[name='period_dateend']").val();
        update_stats();
        anichange('#filter');
    });
</script>

<div>Последнее обновление статистики: <span id="last-time"></span></div>
<div>Load Average: <span id="loa"></span></div>
<hr>

<h2>RAM</h2>
<div class="ram-block"></div>
<hr>

<h2>CPU</h2>
<div class="cpuload-block"></div>
<hr>

<h2>Network</h2>
<div class="netload-block"></div>
<hr>

<h2>Disk</h2>
<div class="disk-block"></div>
