<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{title}</title>

    <link rel="stylesheet" type="text/css" href="{base_url}themes/{template}/{style}/css/login.css" />
    <link rel="stylesheet" type="text/css" href="{base_url}themes/{template}/{style}/css/style.css" />
    <script type="text/javascript" src="{base_url}themes/system/js/jquery-1.10.2.min.js"></script>

</head>
<body>
    <h1>{heading}</h1>
			<div class="wrapper">
					<div id="form_wrapper" class="form_wrapper">
						<form action="{site_url}auth/register" class="login active" method="post" accept-charset="utf-8">
							<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />
						    <h3>Регистрация</h3>
						    <?php echo validation_errors(); ?>
						    {content}
						    <div>
							    <label>Логин:</label>
							    <input type="text" name="login"/>
							</div>
							 <div>
							    <label>Пароль:</label>
							    <input type="password" name="password" />
							</div>
						 	<div>
							    <label>Повторите пароль:</label>
							    <input type="password" name="passconf" />
							</div>
							<div>
							    <label>Email:</label>
							    <input type="text" name="email"/>
							</div>
							<label>Изображение:</label>
							<div>
								{captcha}
							</div>
						    <div class="bottom">
							<input type="submit" value="Регистрация" />
							<a href="{site_url}auth/in" rel="login" class="linkform">
							    Уже зарегистрированы? Войти
							</a>
							<div class="clear"></div>
						    </div>
						</form>
						<a class="back" href="/">Вернуться на главную</a>
					</div>
			</div>
			<div style="clear: both;"></div>
<p class="copyright">Game AdminPanel <?php echo AP_VERSION; ?> [<?php echo AP_DATE; ?>]<br />{lang_developer}: ET-NiK | <a href="http://www.gameap.ru">www.GameAP.ru</a>&nbsp;|&nbsp;<a href="http://hldm.org">HLDM.org</a></p>
</body>
</html>
