<div id="left">
	<p align="center"><strong>{user_login}</strong></p>
	<ul>
		<li>Баланс: {balance} руб.<br /><br /></li>
		<li><a href="{site_url}commercial/client/add_funds">Пополнить баланс</a></li>
		<li><a href="{site_url}commercial/transactions">Движение средств</a></li>
		<li><a href="{site_url}commercial/client/invoices">Мои счета</a></li>
		<li><a href="{site_url}commercial/client/services">Мои услуги</a></li>
		<li><a href="{site_url}commercial/order">Заказать сервер</a></li>
	</ul>

	<p align="center"><strong>Профиль</strong></p>
	<ul>
		<li><a href="{site_url}admin/profile">Просмотр</a></li>
	</ul>

	<p align="center"><strong>Тех. Поддержка</strong></p>
	<ul>
		<li><a href="{site_url}commercial/tickets">Тикеты</a></li>
		<li><a href="http://forum.hldm.org">Форум</a></li>
		<li><a href="http://wiki.hldm.org">Wiki</a></li>
	</ul>
</div>
