<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<a class="awesome" href="{site_url}adm_servers/view/game_types">« {lang_adm_servers_back_to_game_types}</a>
<a class="awesome" href="{site_url}adm_servers/edit/games/{game_code}">{lang_adm_servers_go_to_game}</a>
<a class="awesome" href="{site_url}adm_servers/dublicate_game_type/{gt_id}">{lang_adm_servers_dublicate_game_type}</a>
<h2>{lang_adm_servers_game_type_control}</h2>

<p>{lang_adm_servers_game_types_documentation}</p>

<form action="{site_url}adm_servers/edit/game_types/{gt_id}" method="post" accept-charset="utf-8">
<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />
	<table class="zebra" width="100%">
		<tr>
			<td width="50%">{lang_name}:</td>
			<td><input type="text" name="name" value="{gt_name}" /></td>
		</tr>

		<tr>
			<td>{lang_adm_servers_game_code}:<br /><span class="description">{lang_adm_servers_game_code_desc_for_gt_control}</span></td>
			<td>{gt_code}</td>
		</tr>
	</table>

<p align="center"><input class="button" type="submit" value="{lang_save}" /></p>

<br />
<ul class="tabs">
	<li><a href="#config_files" onclick="return false;">{lang_adm_servers_config_files}</a></li>
	<li><a href="#game_directories" onclick="return false;">{lang_adm_servers_game_directories}</a></li>
	<li><a href="#log_directories" onclick="return false;">{lang_adm_servers_log_directories}</a></li>
	<li><a href="#fast_rcon" onclick="return false;">Fast Rcon</a></li>
	<li><a href="#aliases" onclick="return false;">{lang_adm_servers_aliases}</a></li>
	<li><a href="#start_parameters" onclick="return false;">{lang_adm_servers_start_parameters}</a></li>
	<li><a href="#rcon_control_parameters" onclick="return false;">{lang_adm_servers_rcon_commands}</a></li>
	<li><a href="#repositories" onclick="return false;">{lang_adm_servers_repository_parameters}</a></li>
</ul>

<div id="config_files" class="tab_content">
	<p class="hr">{lang_adm_servers_config_files}</p>
	<table class="zebra" id="cfg_list" width="100%">
		<tr>
			<td colspan="4"><a class="small awesome" href="#" onclick="add_new_item('cfg_list'); return false;" id="add">{lang_add}</a></td>
		</tr>

		<tr>
			<th>{lang_description}</th>
			<th>{lang_file}</th>
			<th>{lang_delete}</th>
		</tr>
	{cfg_list}
		<tr>
			<td>{desc}</td>
			<td>{file}</td>
			<td align="center"><input type="checkbox" name="cfg_delete[{id}]" value="accept"  /></td>
		</tr>
	{/cfg_list}

	</table>
</div>


<div id="game_directories" class="tab_content">
	<p class="hr">{lang_adm_servers_game_directories}</p>
		<tr>
			<td colspan="4"><a class="small awesome" href="#" onclick="add_new_item('cdir_list'); return false;" id="add">{lang_add}</a></td>
		</tr>

	<table class="zebra" id="cdir_list" width="100%">

		<tr>
			<th>{lang_description}</th>
			<th>{lang_directory}</th>
			<th>{lang_files_extension}</th>
			<th>{lang_delete}</th>
		</tr>
	{cdir_list}
		<tr>
			<td>{desc}</td>
			<td>{path}</td>
			<td>{allowed_types}</td>
			<td align="center"><input type="checkbox" name="cdir_delete[{id}]" value="accept"  /></td>
		</tr>
	{/cdir_list}

	</table>
</div>

<div id="log_directories" class="tab_content">
	<p class="hr">{lang_adm_servers_log_directories}</p>
	<table class="zebra" id="ldir_list" width="100%">
		
		<tr>
			<td colspan="4"><a class="small awesome" href="#" onclick="add_new_item('ldir_list'); return false;" id="add">{lang_add}</a></td>
		</tr>

		<tr>
			<th>{lang_description}</th>
			<th>{lang_directory}</th>
			<th>{lang_files_extension}</th>
			<th>{lang_delete}</th>
		</tr>
	{ldir_list}
		<tr>
			<td>{desc}</td>
			<td>{path}</td>
			<td>{allowed_types}</td>
			<td align="center"><input type="checkbox" name="ldir_delete[{id}]" value="accept"  /></td>
		</tr>
	{/ldir_list}

	</table>
</div>

<div id="fast_rcon" class="tab_content">
	<p class="hr">Fast RCON</p>
	<table class="zebra" id="frcon_list" width="100%">
		<tr>
			<td colspan="4"><a class="small awesome" href="#" onclick="add_new_item('frcon_list'); return false;" id="add">{lang_add}</a></td>
		</tr>

		<tr>
			<th>{lang_description}</th>
			<th>{lang_command}</th>
			<th>{lang_delete}</th>
		</tr>
	{frcon_list}
		<tr>
			<td>{desc}</td>
			<td>{rcon_command}</td>
			<td align="center"><input type="checkbox" name="frcon_delete[{id}]" value="accept"  /></td>
		</tr>
	{/frcon_list}

	</table>
</div>

<div id="aliases" class="tab_content">
	<p class="hr">{lang_adm_servers_aliases}</p>
	<table class="zebra" id="aliases_list" width="100%">
		
			<tr>
				<td colspan="4"><a class="small awesome" href="#" onclick="add_new_item('aliases_list'); return false;" id="add">{lang_add}</a></td>
			</tr>

			<tr>
				<th>{lang_adm_servers_alias}</th>
				<th>{lang_description}</th>
				<th>{lang_adm_servers_only_for_admins}</th>
				<th>{lang_delete}</th>
			</tr>

		{aliases_list}
			<tr>
				<td>{alias}</td>
				<td>{desc}</td>
				<td align="center">{only_admins}</td>
				<td align="center"><input type="checkbox" name="alias_delete[{id}]" value="accept"  /></td>
			</tr>
		{/aliases_list}
	</table>
</div>

	<div id="start_parameters" class="tab_content">
		<table class="zebra" width="100%">
			<tbody>
				<tr>
					<td width="45%"><p class="hr">{lang_adm_servers_start_parameters}</p></td>
					<td></td>
				</tr>
			</tbody>
			
			<tr>
				<td>{lang_adm_servers_linux_execute}:<br /><span class="description">{lang_adm_servers_linux_execute_desc}</span></td>
				<td><input type="text" name="execfile_linux" value="{execfile_linux}" />
				
				</td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_windows_execute}:<br /><span class="description">{lang_adm_servers_windows_execute_desc}</span></td>
				<td><input type="text" name="execfile_windows" value="{execfile_windows}" /></td>
			</tr>
			

			<tr>
				<td>{lang_adm_servers_command_start}:</td>
				<td><textarea style="height:50px" rows="2" name="script_start">{script_start}</textarea></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_command_stop}:</td>
				<td><textarea style="height:50px" name="script_stop">{script_stop}</textarea></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_command_restart}:</td>
				<td><textarea style="height:50px" name="script_restart">{script_restart}</textarea></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_command_status}:</td>
				<td><textarea style="height:50px" name="script_status">{script_status}</textarea></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_command_update}:</td>
				<td><textarea style="height:50px" name="script_update">{script_update}</textarea></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_command_get_console}:</td>
				<td><textarea style="height:50px" name="script_get_console">{script_get_console}</textarea></td>
			</tr>
		</table>
		
	</div>
	
	<div id="rcon_control_parameters" class="tab_content">
		<table class="zebra" width="100%">
			<tbody>
				<tr>
					<td width="45%"><p class="hr">{lang_adm_servers_rcon_commands}</p></td>
					<td></td>
				</tr>
			</tbody>
			<tr>
				<td>{lang_adm_servers_kick_cmd}:<br /><span class="description">[ {lang_adm_servers_kick_cmd_desc} ]</span></td>
				<td><input style="width: 50%" type="text" name="kick_cmd" value="{kick_cmd}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_ban_cmd}:<br /><span class="description">[ {lang_adm_servers_ban_cmd_desc} ]</span></td>
				<td><input style="width: 50%" type="text" name="ban_cmd" value="{ban_cmd}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_chname_cmd}:<br /><span class="description">[ {lang_adm_servers_chname_cmd_desc} ]</span></td>
				<td><input style="width: 50%" type="text" name="chname_cmd" value="{chname_cmd}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_srestart_cmd}:</td>
				<td><input style="width: 50%" type="text" name="srestart_cmd" value="{srestart_cmd}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_chmap_cmd}:<br /><span class="description">[ {lang_adm_servers_chmap_cmd_desc} ]</span></td>
				<td><input style="width: 50%" type="text" name="chmap_cmd" value="{chmap_cmd}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_sendmsg_cmd}:<br /><span class="description">[ {lang_adm_servers_sendmsg_cmd_desc} ]</span></td>
				<td><input style="width: 50%" type="text" name="sendmsg_cmd" value="{sendmsg_cmd}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_passwd_cmd}:<br /><span class="description">[ {lang_adm_servers_passwd_cmd_desc} ]</span></td>
				<td><input style="width: 50%" type="text" name="passwd_cmd" value="{passwd_cmd}" /></td>
			</tr>

		</table>
	</div>
	
	<div id="repositories" class="tab_content">
		<table class="zebra" width="100%">
			
			<tbody>
				<tr>
					<td colspan='2'><p class="hr">{lang_adm_servers_repository_parameters}</p></td>
				</tr>
			</tbody>
			
			<tr>
				<td>{lang_adm_servers_local_repository}:<br /><span class="description">[ {lang_adm_servers_local_repository_gtdesc} ] </span></td>
				<td><input size="50" type="text" name="local_repository" value="{local_repository}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_remote_repository}:<br /><span class="description">[ {lang_adm_servers_remote_repository_gtdesc} ] </span></td>
				<td><input size="50" type="text" name="remote_repository" value="{remote_repository}" /></td>
			</tr>
			
		</table>
	</div>


	<script type="text/javascript">
		
	$(document).ready(function(){

		$('#hide').hide();
		$('#selected').toggle(function(){
		$('#hide').fadeIn(800);
		$(this).html('');}, function(){
		$('#hide').fadeOut(800);
		$(this).html('');});
	})
		
	function add_new_item(id) {
		if(id == 'cfg_list') {
			$('<tr><td><input type="text" name="cfg_desc[]" /></td><td><input type="text" name="cfg_file[]" /></td><td>&nbsp;</td><td>&nbsp;</td></tr>').fadeIn('slow').appendTo('#cfg_list');
		}
		
		if(id == 'cdir_list') {
			$('<tr><td><input type="text" name="cdir_desc[]" /></td><td><input type="text" name="cdir_path[]" /></td><td><input type="text" name="cdir_allowed_types[]" /></td></td><td>&nbsp;</td></tr>').fadeIn('slow').appendTo('#cdir_list');
		}
		
		if(id == 'ldir_list') {
			$('<tr><td><input type="text" name="ldir_desc[]" /></td><td><input type="text" name="ldir_path[]" /></td><td><input type="text" name="ldir_allowed_types[]" /></td></td><td>&nbsp;</td></tr>').fadeIn('slow').appendTo('#ldir_list');
		}
		
		if(id == 'frcon_list') {
			$('<tr><td><input type="text" name="frcon_desc[]" /></td><td><input type="text" name="frcon_command[]" /></td><td>&nbsp;</td><td>&nbsp;</td></tr>').fadeIn('slow').appendTo('#frcon_list');
		}
		
		if(id == 'aliases_list') {
			$('<tr><td><input type="text" name="alias_name[]" /></td><td><input type="text" name="alias_desc[]" /></td><td align="center"><input type="checkbox" name="alias_only_admins[]" value="accept"  /></td><td>&nbsp;</td></tr>').fadeIn('slow').appendTo('#aliases_list');
		}
	}
		
	</script>
	
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />
	<p align="center"><input class="button" type="submit" value="{lang_save}" /></p>
</form>
