<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<a class="button" href="{site_url}adm_servers/view/games">« {lang_adm_servers_back_to_games}</a>
<a class="button" onclick="$('#popup').arcticmodal()">{lang_adm_servers_modifications}</a>
<h2>{lang_adm_servers_game_control}</h2>

<p>{lang_adm_servers_games_documentation}</p>

<div style="display: none;">
    <div class="box-modal" id="popup">
        <div class="box-modal_close arcticmodal-close">close</div>
			
        
			<table width="100%" class="zebra">
					<tr>
						<td colspan="5"><strong>{lang_adm_servers_modifications}</strong></td>
					</tr>
				{gt_list}
					<tr>
						<td align="center"><a href="{site_url}adm_servers/edit/game_types/{gt_id}">{gt_name}</a></td>
					</tr>
				{/gt_list}
			</table>
    </div>
</div>

<form action="{site_url}adm_servers/edit/games/{game_code}" method="post" accept-charset="utf-8">
	<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />
	
	<ul class="tabs">
		<li><a href="#base_parameters">{lang_base_parameters}</a></li>
		<li><a href="#steamcmd">{lang_adm_servers_install_server_parameters}</a></li>
	</ul>
	
	
	<div id="base_parameters" class="tab_content">
		<table class="zebra" width="100%">
			
			<tbody>
				<tr>
					<td colspan='2'><h2>{lang_base_parameters}</h2></td>
				</tr>
			</tbody>
			
			<tr>
				<td width="45%">{lang_name}:</td>
				<td><input type="text" name="name" value="{game_name}" /></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_game_code}:<br /><span class="description">[ {lang_adm_servers_game_code_desc} ]</span></td>
				<td><input type="text" name="code" value="{game_code}" /></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_game_start_code}:<br /><span class="description">[ {lang_adm_servers_game_start_code_desc} ]</span></td>
				<td><input type="text" name="start_code" value="{game_start_code}" /></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_engine}:</td>
				<td><input type="text" name="engine" value="{game_engine}" /></td>
			</tr>

			<tr>
				<td>{lang_adm_servers_engine_version}:</td>
				<td><input type="text" name="engine_version" value="{game_engine_version}" /></td>
			</tr>
		</table>
	</div>
	
	<div id="steamcmd" class="tab_content">
		<table class="zebra" width="100%">
			
			<tbody>
			<tr>
				<td colspan='2'><h2>{lang_adm_servers_repository_parameters}</h2></td>
			</tr>
			</tbody>
			
			<tr>
				<td>{lang_adm_servers_local_repository}:<br /><span class="description">[ {lang_adm_servers_local_repository_gdesc} ] </span></td>
				<td><input size="50" type="text" name="local_repository" value="{local_repository}" /></td>
			</tr>
			
			<tr>
				<td>{lang_adm_servers_remote_repository}:<br /><span class="description">[ {lang_adm_servers_remote_repository_gdesc} ] </span></td>
				<td><input size="50" type="text" name="remote_repository" value="{remote_repository}" /></td>
			</tr>
		
			<tbody>
				<tr>
					<td colspan='2'><h2>{lang_adm_servers_steamcmd_parameters}</h2></td>
				</tr>
			</tbody>

			<tr>
				<td>app_id:</td>
				<td><input type="text" name="app_id" value="{app_id}" /></td>
			</tr>

			<tr>
				<td>app_set_config:</td>
				<td><input type="text" name="app_set_config" value="{app_set_config}" /></td>
			</tr>
		</table>
	</div>
	
	<input class="button" type="submit" name="edit_game" value="{lang_save}" />
</form>
