<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<form action="{site_url}admin/profile/change_password" method="post" accept-charset="utf-8">
	<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />
<table class="zebra" width="50%">
	<tr>
		<td>{lang_profile_current_password}:</td>
		<td><input type="password" name="old_password" /></td>
	</tr>
	<tr>
		<td>{lang_profile_new_password}:</td>
		<td><input type="password" name="new_password" /></td>
	</tr>
	<tr>
		<td>{lang_profile_confirm_password}:</td>
		<td><input type="password" name="new_password_confirm" /></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<input class="button" type="submit" name="profile_edit_submit" value="{lang_edit}" />
		</td>
	</tr>
</table>
</form>
