<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<form action="{site_url}admin/settings/server/{server_id}" method="post" accept-charset="utf-8">
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />
	
<table width="75%" class="zebra">
	{settings}
	<tr>
		<td>{human_name}:</td>
		<td align="center">{input_field}</td>
	</tr>
	{/settings}
	<tr>
		<td>&nbsp;</td>
		<td><input class="button" type="submit" name="save" value="{lang_save}" /></td>
	</tr>
</table>

</form>
