<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<a class="button" href="{site_url}admin/users_control">« {lang_back}</a>
<br /><br />
<form action="{site_url}admin/users_control/add" method="post" accept-charset="utf-8">
	<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />

	<table class="zebra" width="50%">
		<tr>
			<td>{lang_login}:</td>
			<td><input type="text" name="login" /></td>
		</tr>
		<tr>
			<td>{lang_password}:</td>
			<td><input type="text" name="password" /></td>
		</tr>
		<tr>
			<td>{lang_email}:</td>
			<td><input type="text" name="email" /></td>
		</tr>

		{privileges_list}
		<tr>
			<td>{privilege_name}</td>
			<td>{privilege_option}</td>
		</tr>
		{/privileges_list}
		
		<tr>
			<td></td>
			<td><input class="button" type="submit" name="useradd_submit" value="{lang_add}" /></td>
		</tr>
	</table>

</form>
