<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<h2>{lang_server_control_edit_task}</h2>

<form action="{site_url}admin/server_control/edit_task/{task_id}" method="post" accept-charset="utf-8">
	<input type="hidden" name="<?php echo $this->security->get_csrf_token_name(); ?>" value="<?php echo $this->security->get_csrf_hash(); ?>" />

<table width="50%" class="zebra">

<tr>
	<td>{lang_title}:</td>
	<td><input type="text" name="name" value="{name}" /></td>
</tr>

<tr>
	<td>{lang_command}:</td>
	<td>{input_code}</td>
</tr>

<tr>
	<td>{lang_server_control_param_for_command}:</td>
	<td><input type="text" name="command" value="{command}" /></td>
</tr>

<tr>
	<td>{lang_server_control_execution_date}:</td>
	<td><input type="text" name="date_perform" value="{date_perform}" /><br />Пример: 29-06-2013 12:32</td>
</tr>

<tr>
	<td>{lang_server_control_repeat_period}:</td>
	<td>{input_time_add}</td>
</tr

<tr>
	<td></td>
	<td><input class="button" type="submit" name="edit_task" value="{lang_edit}" /></td>
</tr>

</table>

</form>
