<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<a class="awesome" href="{site_url}adm_servers/add/games">{lang_adm_servers_add_game}</a>
<p class="hr">{lang_adm_servers_games}</p>
<table class="zebra" width="100%">

	<tbody>
		<tr>
			<th><strong>{lang_name}</strong></th>
			<th><strong>{lang_adm_servers_game_code}</strong></th>
			<th><strong>{lang_adm_servers_engine}</strong></th>
			<th>&nbsp;</th>
		</tr>
	</tbody>	
{games_list}
	<tr>
		<td>{game_name}</td>
		<td>{game_start_code}</td>
		<td>{game_engine}&nbsp;{game_engine_version}</td>
		<td><a class="small awesome" href="{site_url}adm_servers/edit/games/{game_code}">{lang_control}</a>&nbsp;<a class="red small awesome" href="{site_url}adm_servers/delete/games/{game_code}">X</a></td>
	</tr>
{/games_list}
</table>
