<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>

<a class="awesome" href="{site_url}admin/servers_log">« {lang_back}</a>
<p class="hr">{lang_servers_log_select_type}</p>
<table width="75%" class="zebra">
	<thead>
	<tr>
		<td><strong>{lang_description}</strong></td>
		<td><strong>{lang_path}</strong></td>
		<td><strong>&nbsp;</strong></td>
	</tr>
	</thead>
{ldir_list}
	<tr>
		<td>{desc}</td>
		<td>{path}</td>
		<td><a class="small awesome" href="{site_url}admin/servers_log/list_logs/{server_id}/{id_dir}">{lang_select}</a></td>
	</tr>
{/ldir_list}
</table>
