<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<p align="center" class="hr"><strong>{lang_main_you_servers}</strong></p>

<table class="zebra" width="100%">
	<thead>
	<tr>
		<th><strong>{lang_server_name}</strong></th>
		<th><strong>{lang_server_ip}</strong></th>
		<?php if(module_exists('commercial_module')): ?><th><strong>{lang_main_server_expires}</strong></th><?php endif; ?>
		<th><strong>{lang_status}</strong></th>
		<th><strong>{lang_commands}</strong></th>
	</tr>
	</thead>
{games_list}
	<tbody>
		<tr>
			<td colspan="5"><p class="hr"><strong>{game_name}</strong></p></td>
		</tr>
	</tbody>
	{servers_list}
		<tr>
			<td>{server_name}</td>
			<td>{server_ip}</td>
			<?php if(in_array('commercial', $this->gameap_modules->modules_list)): ?><td>{server_expires}</td><?php endif; ?>
			<td>{server_status}</td>
			<td>{commands}</td>
		</tr>
	{/servers_list}
{/games_list}
</table>

