<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>

<?php if ($this->users->auth_data['is_admin']): ?>
	<a class="awesome" id="filter" href="#">{lang_filter}</a>

	<script>
	$(document).ready(function() {
		$('div#filter').hide();
	});

	$("a#filter" ).click(function() {
		$("div#filter").toggle('fast');
	});
	</script>

	<div id="filter">
		<br />
		<form action="{site_url}admin/settings/set_filter" method="post" accept-charset="utf-8">
			<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />
			
			<table class="zebra" width="100%">
				<tr>
					<td width="30%">{lang_name}:</td>
					<td><input type="text" name="filter_name" value="{filter_name}"/></td>
				</tr>
				
				<tr>
					<td width="30%">{lang_ip}:</td>
					<td>{filter_ip_dropdown}</td>
				</tr>
				
				<tr>
					<td width="30%">{lang_game}:</td>
					<td>{filter_games_dropdown}</td>
				</tr>

			</table>
				<p align="center">
					<input class="button" type="submit" name="submit_filter" value="{lang_apply}" />
					<input class="button" type="submit" name="reset" value="{lang_reset}" />
				</p>
		</form>
	</div>

	<script>
		$('select[multiple="multiple"]').multipleSelect({width:200});
	</script>
<?php endif; ?>

<p align="center" class="hr"><strong>{lang_main_you_servers}</strong></p>

<table class="zebra" width="100%">
	<thead>
	<tr>
		<th><strong>{lang_server_name}</strong></th>
		<th><strong>{lang_server_ip}</strong></th>
		<?php if(module_exists('commercial')): ?><th><strong>{lang_main_server_expires}</strong></th><?php endif; ?>
		<th><strong>{lang_status}</strong></th>
		<th><strong>{lang_commands}</strong></th>
	</tr>
	</thead>
	
	<script type="text/javascript">
		var status = new Array();
		var privileges = new Array(['start', 'stop', 'restart']);
		
		function GetStatus(server_id) {
			jQuery.ajax({ 
				url:     '{site_url}ajax/server_control/get_status/' + server_id,
				type:     "GET",
				dataType: "html",
				success: function(response) {
					status[server_id] = Number(response);
					
					if (response == 1) {
						document.getElementById("status_" + server_id).innerHTML = "<img src=\"{base_url}themes/system/images/bullet_green.png\"/>";
						
						if (privileges['stop_' + server_id] == 1) {
							$("#commands_" + server_id).append("<a class=\"small red awesome\" href=\"{site_url}server_command/stop/" + server_id + "\">{lang_stop}</a>&nbsp;");
						}
						
						if (privileges['restart_' + server_id] == 1) {
							$("#commands_" + server_id).append("<a class=\"small yellow awesome\" href=\"{site_url}server_command/restart/" + server_id + "\">{lang_restart}</a>&nbsp;");
						}
					} else {
						document.getElementById("status_" + server_id).innerHTML = "<img src=\"{base_url}themes/system/images/bullet_red.png\"/>";
						
						if (privileges['start_' + server_id] == 1) {
							$("#commands_" + server_id).append("<a class=\"small green awesome\" href=\"{site_url}server_command/start/" + server_id + "\">{lang_start}</a>&nbsp;");
						}
						
						if (privileges['restart_' + server_id] == 1) {
							$("#commands_" + server_id).append("<a class=\"small yellow awesome\" href=\"{site_url}server_command/restart/" + server_id + "\">{lang_restart}</a>&nbsp;");
						}
					}
					
					$("#commands_" + server_id).append("<a class=\"small awesome\" href=\"{site_url}admin/server_control/main/" + server_id + "\">{lang_other_commands}&raquo;</a>&nbsp;");
					
				}, 
				error: function(response) {
					document.getElementById("status_" + server_id).innerHTML = "<img src=\"{base_url}themes/system/images/bullet_red.png\"/>";
					$("#commands_" + server_id).append("<a class=\"small awesome\" href=\"{site_url}admin/server_control/main/" + server_id + "\">{lang_other_commands}&raquo;</a>&nbsp;");
				} 
			});
		}
	</script>
	
{games_list}
	<tbody>
		<tr>
			<td colspan="5"><p class="hr"><strong>{game_name}</strong></p></td>
		</tr>
	</tbody>
	{servers_list}
		<tr>
			<td>{server_name}</td>
			<td>{server_ip}</td>
			<?php if(module_exists('commercial')): ?><td>{server_expires}</td><?php endif; ?>
			<td><div id="status_{server_id}"><img src="{base_url}themes/system/images/bullet_grey.png"/></div></td>
			<td><div id="commands_{server_id}"></div></td>
		</tr>
		
		<script type="text/javascript">
			{server_js_privileges}
			GetStatus({server_id});
		</script>
	{/servers_list}
{/games_list}
</table>

