<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>
<p align="center" class="hr"><strong>{lang_main_you_servers}</strong></p>

<table class="zebra" width="100%">
	<thead>
	<tr>
		<th><strong>{lang_server_name}</strong></th>
		<th><strong>{lang_server_ip}</strong></th>
		<?php if(module_exists('commercial_module')): ?><th><strong>{lang_main_server_expires}</strong></th><?php endif; ?>
		<th><strong>{lang_status}</strong></th>
		<th><strong>{lang_commands}</strong></th>
	</tr>
	</thead>
	
	<script type="text/javascript">
		function GetStatus(server_id) { 
			jQuery.ajax({ 
				url:     '{site_url}ajax/server_control/get_status/' + server_id,
				type:     "GET",
				dataType: "html",
				success: function(response) {
					document.getElementById("status_" + server_id).innerHTML = response; 
				}, 
				error: function(response) {
					document.getElementById("status_" + server_id).innerHTML = "<img src=\"{site_url}themes/system/images/bullet_red.png\"/>"; 
				} 
			}); 
		}
	</script>
	
{games_list}
	<tbody>
		<tr>
			<td colspan="5"><p class="hr"><strong>{game_name}</strong></p></td>
		</tr>
	</tbody>
	{servers_list}
		<tr>
			<td>{server_name}</td>
			<td>{server_ip}</td>
			<?php if(in_array('commercial', $this->gameap_modules->modules_list)): ?><td>{server_expires}</td><?php endif; ?>
			<td><div id="status_{server_id}"><img src="{site_url}themes/system/images/bullet_grey.png"/></div></td>
			<td>{commands}</td>
		</tr>
		
		<script type="text/javascript">
			GetStatus({server_id});
		</script>
	{/servers_list}
{/games_list}
</table>

