<?php  if (!defined('BASEPATH')) exit('No direct script access allowed'); ?>

<a class="awesome" href="{site_url}admin/server_control/main/{server_id}">«{lang_back}</a>

<form action="{site_url}admin/settings/server/{server_id}" method="post" accept-charset="utf-8">
	<input type="hidden" name="{csrf_token_name}" value="{csrf_hash}" />
	
<table width="75%" class="zebra">
	{settings}
	<tr>
		<td>{human_name}:</td>
		<td align="center">{input_field}</td>
	</tr>
	{/settings}
	<tr>
		<td>&nbsp;</td>
		<td><input class="button" type="submit" name="save" value="{lang_save}" /></td>
	</tr>
</table>

</form>
